<!DOCTYPE html>
<html>
  <head>
    <title>Student Lookup App</title>
    <link rel="stylesheet" type="text/css" href="static/index.css">
  </head>
  <body>
    <h1>Student Lookup App</h1>
    <div>
      <form action=/students method="post">
        <div>
          <label for="student-id">Enter student ID:</label>
          <input type="text" id="student-id" name="student_id" value="">
          <a><button><input type="submit" name="" value="Get student by ID"></button></a>
        </div>
      </form>
    </div>
    <div>

      <a href="/get_all_students"><button id="get-all-students-btn">Get all students</button></a>

      <a href="/seed_db"><button id="seed-students-btn">Seed students</button></a>
    </div>
  </body>
</html>
